@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TaskManager</h1>
    <p>Enterprise TaskManager, allowing you to manage your projects based on users and based on your Line of business. 🏢 </p>
</div>
